@keyframes rotation {
from{
  transform: rotate(0deg);
}
  to{
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  font-size: 0;
  overflow: hidden;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  margin-top: 0;
}

.header__title {
  font-size: 102px;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  height: 608px;
  min-width: 765px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
  z-index: 0;
}

.description {
  display: flex;
  justify-content: center;
  position: relative;
}

.two-columns {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
  min-width: 784px;
  width: 80%;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 0;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 700;
}

.techniques{
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

.section-title__techniques{
  width: 60%;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin-top: 0;
}

.section-subtitle__techniques{
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style-type: none;
  margin: auto;
  padding-left: 0;
  width: 920px;
  padding-right: 0;
}

.item{
  width: 240px;
  margin-right: 100px;
  margin-top: 60px;
}

.item:nth-of-type(3n){
  margin-right: 0;
}

.cards__image{
  width: 160px;
  height: 160px;
  border-radius: 100px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 43px;
}

.cards__title{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}

.cards__description{
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
}

.video{
  padding-top: 100px;
  position: relative;
}

.section-title__video{
margin-top: 0;
  width: 60%;
}

.section-subtitle__video{
width: 60%;
}

.video__iframes{
  margin-top: 50px;
  height: 316px;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.video__iframe{
  width: 515px;
  height: 316px;
  margin-top: 50px;
}

.video__iframe:nth-of-type(1){
  margin-right: 20px;
}

.oakley{
  display: flex;
  justify-content: center;
  padding-top: 160px;
  background-color: #f2f2f2;
}

.feynman {
  background-color: #f2f2f2;
  min-height: 790px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.feynman__title {
  width: 648px;
  z-index: 3;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  margin: 0 auto;
}

.feynman__subtitle {
  z-index: 1;
  width: 60%;
  text-align: center;
  margin: 70px auto 0;
  font-weight: 400;
  line-height: 51px;
  font-size: 36px;
}

.feynman__photo {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;
  z-index: 2;
}

.digits {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin: 100px auto 0;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  font-weight: 400;
  line-height: 34px;
  font-size: 24px;
  margin: 20px auto 0;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style-type: none;
  justify-content: space-between;
  margin: 0 auto 100px;
  padding-left: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 20px;
}

.khan{
  background-color: #f2f2f2;
  padding-top: 105px;
}

.khan__container{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.khan__author{
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.khan__title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 80px;
}

.khan__quote{
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 36px;
}

.khan__quote-author{
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.khan__quote-author-subline{
  margin-top: 0;
  margin-bottom: 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 400;
}

.khan__book-container{
  position: relative;
}

.khan__book-pic{
  object-fit: cover;
  object-position: top;
  width: 608px;
  height: 620px;
}

.khan__buy-link{
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
  color: #2f80ed;
  margin-left: 48px;
  position: absolute;
}

.kaufman {
  background-color: #1f1f1f;
  background-size: 877px 877px;
  background-repeat: no-repeat;
  background-position: top left;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding-top: 90px;
}

.section-title_theme_dark {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  color: #ffff;
  z-index: 1;
}

.section-subtitle_theme_dark {
  text-align: center;
  margin: 20px auto 0;
  color: #ffff;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  z-index: 2;
}

.table_theme_dark {
  background-size: 877px 877px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  margin-bottom: 0;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
}

.section-title__resources{
  margin-top: 100px;
  margin-bottom: 20px;
  width: 60%;
}

.section-subtitle__resources{
  margin-bottom: 80px;
  width: 60%;
}

.resources__logo-zone{
  width: 1100px;
  margin: auto;
}

.resources__logo{
  width: 270px;
  height: 38px;
  margin-bottom: 217px;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  color: #ffff;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column-heading {
  color: #ffff;
  margin-top: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}

.footer__column-links {
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  padding-left: 0;
  margin-bottom: 16px;
  margin-top: 20px;
}

.footer__column-link {
  color: #ffff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.rotation{
  animation-name: rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
