.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', "Arial", sans-serif;
}

.reset_margin{
  margin: 0 0 0 0;
}
.reset_padding{
  padding: 0 0 0 0;
}
.reset_font{
  font-size: 0;
  font-weight: 0;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  border: #ff0000 1px solid;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
  font-size: 0;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
  .header__logo_place_header{
    position: absolute;
    width: 183px;
    height: 32px;
    top: 30px;
    left: 64px;

}
.header__title{
  position: absolute;
  font-size: 102px;
  width: 730px;
  left: 64px;
  line-height: 96px;
  font-weight: 700;
}
.header__subtitle{
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  z-index: 2;

}
.header__link{
  color: #2f80ed;
}
.header__image_place_header{
  position: absolute;
  height: 608px;
  min-width: 765px;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
}

.description{
  display: flex;
  justify-content: center;
  position: relative;
}
.description__two-column{
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;

  min-width: 784px;
  width: 80%;
  border: #ff0000 1px solid;
}

.two-column__main-text{
  min-width: 784px;
  width: 80%;
}

.two-column__brief{
  color: #2f80ed;
  width: 174px;
  line-height: 12px;
  font-size: 18px;
  font-weight: 400;
}

.two-column__paragraph{
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;

}

.two-column__span-accent{
  font-size: 24px;
}
.two-column__paragraph-last-child{
font-weight: 500;
  font-size: 24px;
  /*fonts-size: 24px;*/

}

.digits__section_title{
  width: 60%;
  border: red 1px solid;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 500;
  /*margin-top: 100px;*/
}

.digits__section_subtitle {
  width: 60%;
  border: red 1px solid;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  font-weight: 400;
  line-height: 34px;
  font-size: 24px;
}

.table{
  width: 1100px;
  margin: auto;
}


.table__list{
  /*width: 1100px;*/
  /*border: red 1px solid;*/
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style-type: none;
  justify-content: space-between;
  top: 60px;
  width: 100%;



}
.table__cell{
  width: 250px;
  border: red 1px solid;
  margin-bottom: 60px;
  margin-left: 0;
  margin-right: 0;

  /*margin-right: auto;*/
  /*margin-left: auto;*/
}

.table__heading{
  margin-top: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 500;
}
.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}
.table__signature{
 margin: auto;
  border: red 1px solid;
}

.feynman{
  background-color: #f2f2f2;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: end;
  padding-top: 100px;
  margin-top: 100px;
}
.feynman__section_title{
  width: 648px;
  border: red solid 1px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  z-index: 1;


  /*position: absolute;*/

}

.feynman__section_subtitle{
  line-height: 1.5;
  font-size: 36px;
  font-weight: 400;
  /*position: absolute;*/
  border: 1px red solid;
  z-index: 1;
  position: absolute;
  margin-top: 100px;
}

.feynman__section_photo{
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  border: red 1px solid;
  bottom: 0;
}

.feynman__section_link{
  position: absolute;
  right: 48px;
  top:50%;
  line-height: 1.5;
  font-size: 36px;
  font-weight: 400;
}
